{% extends 'index.html.twig' %}

    {% block title %}Login
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
{% endblock %}

{% block body %}
    <section class="section" style="text-align:center">
        <h2>Zero Intrusion Lock & Layered Entcryption</h2>
        <p>
            Secure your identity with Zero Intrusion
            The future of identification is already here.
            Register and verify your identity without typing a single word.
            Simply download the ZeroIntrusion app and scan the QR code — it's that easy.
            No passwords, no hassle — just one tap to access.
        </p>
         <h2 data-domain-process-id-target="domainProcessId"></h2>

        

        <div class="form-placeholder">
            {% if form is not null %}
                {{ form_start(form) }}
                {{ form_row(form.selectedUser, {'attr': {'required': 'required'}}) }}
                {% if form.oneTouchUsersHidden is defined %}
                    {{ form_row(form.oneTouchUsersHidden) }}
                {% endif %}
                <button type="submit" class="btn btn-primary">Login</button>
                {{ form_end(form) }}
            {% endif %}
        </div>

        <div 
            data-controller="test"
            data-test-check-url-value="{{ path('user_login_check') }}"
            data-test-renew-url-value="{{ path('user_login_new_qr') }}"
            data-test-domain-process-id-value="{{ authentication['domainProcessId'] }}"
            data-test-user-login-csrf-value="{{ userLoginCsrf }}"
        >
            <img style="display: block; margin: auto;" data-test-target="qrCode" src="data:image/png;base64,{{ authentication['qrCode'] }}" alt="QR Code">
            
            <button data-action="click->test#renew">Renew</button>
            <button data-action="click->test#check">Login</button>
            
            <p data-test-target="response"></p>
        </div>
        
<h1>{{ userPublicId }}</h1>
    </section> 


<script>
const params = new URLSearchParams(window.location.search);
const userPublicId = params.get('userPublicId');

if(userPublicId) {
    setInterval(function() {
        fetch("/user-login/check?processId={{ authentication['domainProcessId'] }}")
            .then(response => {
                if (!response.ok) throw new Error("Network error: " + response.status);
                return response.json();
            })
            .then(data => {                
                if (data.message === "Authentication success.") {
                    window.location.href = "/";
                }                
            })
            .catch(error => {
                console.error("Fetch failed:", error);
            });
    }, 2000);
}
</script>

{% endblock %}